<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- This is the default layout; for example, views/posts/show.html.erb will be yielded here -->
<!-- This will not yield the files started with underscore -->
<%= yield %>

</body>
</html>
